<div class="player">
  <h2>Now Playing</h2>


  <label>
  Sort by:
  <select (change)="sortMode = $any($event.target).value">
    <option value="rating">Rating</option>
    <option value="title">Title</option>
    <option value="artist">Artist</option>
  </select>
</label>


  @if (currentSong; as song) {
    <p>
      {{ song.title }}
    </p>
  }

  <audio #audioPlayer controls></audio>

  <h3>Library</h3>

  <ul>
    @for (song of SortedSongs; track song.id) {
      <li>
        <button (click)="play(song)">
          ▶ {{ song.title }} 
        </button>
      </li>
    }
  </ul>
</div>
